body
{
    font-family: 'Segoe UI', 'Segeo WP', Tahoma, Arial, Helvetica, sans-serif;
    font-size:1rem;
    background-color:#FAFCFE;
    margin:20px;
}

h1{
    font-family: 'Segoe UI', 'Segeo WP', Tahoma, Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size:2em;
}

h2{
    font-family: 'Segoe UI', 'Segeo WP', Tahoma, Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size:1.75em;
}

h3{
    font-family: 'Segoe UI', 'Segeo WP', Tahoma, Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size:1.2em;
    color:darkgray;
}

h4{
    font-family: 'Segoe UI', 'Segeo WP', Tahoma, Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size:1.25em;
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('{REL}droid-sans-bold.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('{REL}droid-sans-normal.woff') format('woff');
}

a {
    color:#007BB8;
}
a:hover {
    color:#00A4F3;
    text-decoration:none;
}

.type-name {
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    border: solid 1px #D3D6DB;
    border-radius:4px;
    background-color:#F5F7FA;
    padding:5px;
    text-decoration:none;
}

.code {
    position:relative;
    border: solid 1px #D3D6DB;
    border-radius:4px;
    background-color:#F5F7FA;
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    white-space: pre-wrap;
    padding:20px;
    overflow:hidden;
}

.keyword {
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    position:relative;
    color:#0101FD;
}

.ident {
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    position:relative;
    color: #2B91AF;
}
.doc-ns-type {
    position:relative;
    margin-top:20px;
    margin-right:20px;
}
.left {
    vertical-align:top;
    position:relative;
    display:inline-block;
    width:48%;
}

.right {
    position:relative;
    margin-left:20px;
    vertical-align:top;
    position:relative;
    display:inline-block;
    width:48%;
}

.text {
    margin-bottom:20px;
    white-space:normal;
}

.normal {
    font-family:Calibri, Droid Sans, Calibri, Tahoma, Arial, sans-serif;
    font-size:12pt;
}

.section {
    position:relative;
    border: solid 1px #D3D6DB;
    border-radius:4px;
    background-color:white;
    padding:10px;
    margin-bottom:20px;
    overflow:hidden;
}

.section_title  {
    font-size:1.0em;
    position:relative;
    color:#808080;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:5px;
}

.member-title {
    position:relative;
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    white-space:pre-wrap;
    padding-top:15px;
    padding-right:10px;
    padding-bottom:7px;
    color: #2B91AF;
}

.nav-link {
    position:relative;
    display:block;
    font-family:wf_segoe-ui_normal, 'Segoe UI', 'Segeo WP', Tahoma, Arial, Helvetica, sans-serif;
    white-space:pre-wrap;
    padding-top:0.4em;
    padding-bottom:0.4em;
    padding-right:0.4em;
    color:#007BB8;
    font-weight:400;
    text-decoration:none;
    text-overflow:ellipsis;
    font-size:0.9em;
}
.nav-link:hover {
    color:#00A4F3;
}

.arg {
    margin-top:10px;
    margin-bottom:10px;
    position:relative;
    border: solid 1px #D3D6DB;
    border-radius:4px;
    background-color:#F5F7FA;
}

.arg-header {
    position:relative;
    height:40px;
    overflow:hidden;
}

.arg-name {
    position:absolute;
    top:8px;
    left:8px;
    width:50%;
    height:40px;
    overflow:hidden;
    font-weight:bold;
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    display:inline-block;
    text-align:left;
}

.arg-type {
    position:absolute;
    top:8px;
    right:8px;
    width:50%;
    height:40px;
    overflow:hidden;
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    display:inline-block;
    text-align:right;
}

.arg-desc {
    position:relative;
    margin:8px;
}

.gen-args {
    color: black;
}
.attr {
    color:#333;
}
.content-panel {
    position:absolute;
    top:0px;
    left:256px;
    bottom:0px;
    right:0px;
    overflow:auto;
    padding:20px;
}
.nav-panel {
    position:absolute;
    top:0px;
    width:240px;
    bottom:0px;
    left:0px;
    padding:8px;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:#FCFCFC;
}

.enum-member {
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
    min-height:50px;
}

.enum-field-name {
    padding-right:20px;
    display:inline-block;
    min-width:356px;
}

.enum-field-summary {
    display:inline-block;
    min-width:256px;
}

.number {
    font-family:Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif;
    text-decoration:none;
    color:#A31515;
}